#quiz {
  margin-top: -10px;
}

#quiz .quiz-layouting {
  font-family: 'Montserrat', sans-serif;
  /** Medium devices (tablets, 768px and up) */
  /** Small devices (landscape phones, less than 768px) */
}

#quiz .quiz-layouting .quiz-tab-section {
  padding: 35px 50px;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 4 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 4 4px 6px 0 rgba(85, 85, 85, 0.0901961), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}

#quiz .quiz-layouting .quiz-tab-section .progress {
  margin: 40px 0;
}

#quiz .quiz-layouting .quiz-tab-section .title-section h3 {
  font-weight: 600;
  color: #4f5665;
}

#quiz .quiz-layouting .quiz-tab-section .title-section h5 {
  text-transform: none;
  font-weight: 400;
  color: #4f5665;
}

#quiz .quiz-layouting .quiz-tab-section .soal {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 45px;
  color: #4f5665;
}

#quiz .quiz-layouting .quiz-tab-section .card {
  height: 250px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #e0e6ed;
  border-radius: 10px;
  -webkit-box-shadow: 8px 4px 10px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 4px 10px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

#quiz .quiz-layouting .quiz-tab-section .card .selected-label input {
  display: none;
}

#quiz .quiz-layouting .quiz-tab-section .card .selected-label input:checked ~ .selected-content {
  -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
  background-color: #ffab00;
}

#quiz .quiz-layouting .quiz-tab-section .card .selected-label .selected-content {
  position: relative;
  height: 248px;
  background: #fff;
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  place-content: center;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
  -webkit-transition: .4s ease-in-out all;
  transition: .4s ease-in-out all;
}

#quiz .quiz-layouting .quiz-tab-section .card .selected-label .selected-content .jawaban {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: none;
  color: #4f5665;
}

#quiz .quiz-layouting .quiz-tab-section .btnhasil a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 60px;
  padding: 10px 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #quiz .quiz-layouting .quiz-tab-section .soal {
    font-size: 1.2rem;
  }
  #quiz .quiz-layouting .quiz-tab-section .card {
    height: 250px;
    width: auto;
    margin-bottom: 15px;
  }
  #quiz .quiz-layouting .quiz-tab-section .card .selected-label {
    position: relative;
    width: auto;
  }
  #quiz .quiz-layouting .quiz-tab-section .card .selected-label .selected-content .jawaban {
    font-size: 1rem;
  }
  #quiz .quiz-layouting .quiz-tab-section .btnhasil a {
    font-size: 14px;
    padding: 10px 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #quiz .quiz-layouting .quiz-tab-section .soal {
    font-size: 1rem;
  }
  #quiz .quiz-layouting .quiz-tab-section .card {
    margin-top: 8px;
  }
  #quiz .quiz-layouting .quiz-tab-section .card .selected-label {
    position: relative;
    width: 250px;
  }
  #quiz .quiz-layouting .quiz-tab-section .card .selected-label .selected-content {
    width: 256px;
  }
  #quiz .quiz-layouting .quiz-tab-section .btnhasil a {
    font-size: 10px;
    padding: 10px 15px;
  }
}
/*# sourceMappingURL=quiz.css.map */